
body {
	width: 100%;
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	background: #eee;
}

header {
	width: 100%;

	background: #ffd601;
	color: white;

	font-size: 1.5625rem;
	text-align: center;
	line-height: 2.75rem;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
}

.hidescroll{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 2.75rem 0;
}
#content {

	height: 100%;
	overflow-x: hidden;

	position: relative;
}

footer {
	width: 100%;
	height: 2.75rem;
	line-height: 2.75rem;
	font-size: 0.277777rem;
	border-top: 1px solid #f0f0f0;
	z-index: 99;
	position: fixed;
	display: flex;
	left: 0;
	bottom: 0;
	background: #fff;
}

footer a {
	display: block;
	width: 25%!important;
	text-align: center;
	overflow: hidden!important;
}


footer .item{
	height: 100%;
}


footer .item .img{
	height: 65%;
	position: relative;
}


footer .item .img span{
	display: inline-block;
	width: 50%;
	height: 100%;
}

footer .item .name{
	width: 100%;
	height: 35%;
	font-size: 0.625rem;
	line-height: 100%;

}



footer .home span {
	background: url(/static/base/img/home.png) no-repeat center;
	background-size: 1.25rem;
}

footer .market span {
	background: url(/static/base/img/market.png) no-repeat center;
	background-size: 1.25rem;
}

footer .cart span {
	background: url(/static/base/img/cart.png) no-repeat center;
	background-size: 1.25rem;
}

footer .mine span {
	background: url(/static/base/img/mine.png) no-repeat center;
	background-size: 1.25rem;
}

